<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taxicentral">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.GET_TASKS" />


    <action android:name="android.location.PROVIDERS_CHANGED" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.taxicentral.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.taxicentral.permission.C2D_MESSAGE" />



    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="d36cc988d092c15f27470566706ba8c5" />

        <activity
            android:name=".Activity.LoginActivity"
            android:configChanges="locale|orientation"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Register"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.NavigationDrawer"
            android:label="@string/title_activity_navigation_drawer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.TripHistoryActivity"
            android:label="@string/title_activity_trip_history"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.TripFilterActivity"
            android:label="@string/title_activity_trip_filter"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.TripHistoryDetailsActivity"
            android:label="@string/title_activity_trip_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.TripDetailsActivity"
            android:label="@string/title_activity_trip_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.TripAcceptActivity"
            android:label="@string/title_activity_trip_accept"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AccountStatementActivity"
            android:label="@string/title_activity_account_statement"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MyProfileActivity"
            android:label="@string/title_activity_my_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.NewsActivity"
            android:label="@string/title_activity_news"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.NewsContentActivity"
            android:label="@string/title_activity_news_content"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AnonymousReportActivity"
            android:label="@string/title_activity_anonymous_report"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AnonymousReportSentActivity"
            android:label="@string/title_activity_anonymous_report_sent"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.TaxiWaitingActivity"
            android:label="@string/title_activity_taxi_waiting"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.TripStartedActivity"
            android:label="@string/title_activity_trip_started"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.RateExperienceActivity"
            android:label="@string/title_activity_rate_experience"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.PaymentActivity"
            android:label="@string/title_activity_trip_ended"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.PaymentRecivedActivity"
            android:label="@string/title_activity_trip_ended"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.PaymentCancelledActivity"
            android:label="@string/title_activity_payment_cancelled"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true" />

        <service
            android:name=".Services.UpdateLocationToServer"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Services.ZoneControlServices"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".Activity.AlertDialogActivity"
            android:icon="@android:drawable/stat_sys_warning"
            android:label="@string/warning"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Activity.ShowMapsActivity"
            android:label="@string/title_activity_show_maps"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Activity.BTParingActivity"
            android:label="@string/title_activity_btparing"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".Activity.MainScreen$NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Activity.MainScreen$GpsLocationReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.gms.gcm.PACKAGE_FULLY_REMOVED" />


                <category android:name="com.taxicentral.Gcm" />
            </intent-filter>
        </receiver>

        <service android:name=".Gcm.GCMNotificationIntentService" />

        <activity
            android:name=".Activity.RecivedMessage"
            android:icon="@drawable/ic_action_send"
            android:label="@string/message"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".Activity.CashPaymentActivity"
            android:label="@string/title_activity_cash_payment"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".Services.DistanceServices"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.taxicentral.Services.DistanceServices"></action>
            </intent-filter>
        </service>
        <activity android:name="com.android.camera.CropImage"/>
        <activity
            android:name=".Activity.Rough"
            android:icon="@drawable/ic_action_send"
            android:label="@string/message"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Updates"
            android:label="@string/title_activity_updates"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <receiver android:name=".Activity.UninstallIntentReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.QUERY_PACKAGE_RESTART" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
                <action  android:name = "android.intent.action.PACKAGE_ADDED"  />
                <data android:scheme="package"></data>
            </intent-filter>
        </receiver>

    </application>

</manifest>
